services:

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - backend-network  # Asegurar red compartida

  keycloak:
    image: quay.io/keycloak/keycloak:26.2.1
    container_name: keycloak
    ports:
      - "8080:8080" # Expone el puerto 8080
    environment:
      # Configuraci칩n b치sica de Keycloak
      - KEYCLOAK_ADMIN=admin # Usuario administrador
      - KEYCLOAK_ADMIN_PASSWORD=admin # Contrase침a del administrador
    command: ["start-dev"] # Ejecuta en modo de desarrollo
    volumes:
      - keycloak_data:/opt/keycloak/data # Volumen persistente
    restart: unless-stopped # Reinicia autom치ticamente si se detiene
    networks:
      - backend-network  # Asegurar red compartida

volumes:
  keycloak_data:

networks:
  backend-network:
    driver: bridge  